video {
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.userText {
    position: relative ;
    background: rgba(0,0,0, 0.4); /* transparency is 0.4 */
    padding: 20px 0;
    text-align: center;
    font-weight: 700;
    color: rgb(4, 199, 56);
}